@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

span {
    margin: 20px;
}

.toolbarFont {
    color: black;
}

body {
    color:black;
    background-color:white;
    margin:0;
    }

.logo {
    display: flex;
    font-size: 700%;
    color: red;
    text-align: center;
}

.logo-img {
    width: auto;
    max-height: 50px;
}

.startingTitle {
    background-image:url(./../../../assets/img/bg_3.jpg);
    background-size: cover;
    font-size: auto;
    color: red;
    height: 100%;
    width: 100%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 100px;
    padding-bottom: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.imgHome {
    max-width: auto;
    height: 200px;
}

