<div class=startingTitle> 
    <!-- <img class="img-fluid, col-6 offset-3, col-sm-8 offset-sm-2" src="./../../../assets/img/logo_feelm.png" alt="logo_feelm">  -->
    <svg version="1.1" baseProfile="tiny" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
	 x="0px" y="0px" viewBox="0 0 439 129.2" xml:space="preserve">
<g id="Groupe_84" transform="translate(-409.982 -205.658)">
	<path id="Tracé_2656" fill="#FFFFFF" d="M583.9,271.3c0-18.1,11.9-32.6,35.9-32.6c31.4,0,39.8,18.6,39.8,38.2
		c0,19.5-8.2,37.8-39.4,37.8h-30.3c0-15.1,0.9-16,14.5-16h16.4c11.6,0,18.4-6.1,18.4-15.5h-36.7
		C585.6,283.2,583.9,284.5,583.9,271.3z M604,270.5h35.2c0-16.1-0.5-16.1-18-16.1C610.9,254.4,604,260.8,604,270.5L604,270.5z"/>
	<path id="Tracé_2657" fill="#FFFFFF" d="M696.3,314.5c-15.7,0-18.5,0-18.5-15.6v-84c4.4,0,15.2-0.8,19,2.1
		c2.4,1.9,2.9,5.8,2.9,13.6v66H722c7.8,0,11.5,0.5,13.5,2.4c3.1,2.9,2.4,11.7,2.4,15.4L696.3,314.5z"/>
	<g id="Groupe_83" transform="translate(596.616 205.658)">
		<path id="Tracé_2658" fill="#FFFFFF" d="M228.3,9c-15.4,0-15.7,1.5-21.2,13.5c-7.8,17.5-25.6,60.6-26.4,62.7
			c-1-2.1-18.5-44.9-26.3-62.7C148.2,8.5,146.6,9,131,9h-11.8v79.3h8c7.8,0,11.5,0.5,13.5,2.4c0.2,0.2,0.4,0.4,0.6,0.7V40.6
			l29.4,68.3h10.1c5.4,0,7.8-0.3,9.7-1.9c2.6-2.1,4.7-7.5,5.8-10.4l24.2-55.9v52.9c0,8.6-0.3,14.4,9.4,15.2
			c2.4,0.2,5.8,0.2,12.6,0.2V9H228.3z"/>
	</g>
	<path id="Tracé_2659" fill="#FFFFFF" d="M667.5,222.8c-0.6-8.4-7.1-7.8-14.8-7.8h-8.6v0H452.5v0h-13.3c-4.2,0-7.6,0-9.9,0.2
		c-10.2,1-9.4,7.1-9.4,15.7v68.3c0,7.6,0.5,11.3,2.9,13.3c3.7,2.9,14.6,2.1,19,2.1v-41.8h47c0-16.7-1.1-17.8-15.9-17.8h-31.5V233h11
		v0.1h191.7V233H668C668.1,229.6,668,226.2,667.5,222.8z"/>
	<path id="Tracé_2660" fill="#ED1C24" onclick="redirectionNowPlayin()" d="M574.8,271.3c0-18.1-11.9-32.6-35.9-32.6c-31.4,0-39.8,18.6-39.8,38.2
		c0,19.5,8.2,37.8,39.4,37.8h30.3c0-15.1-0.9-16-14.5-16h-16.5c-11.6,0-18.4-6.1-18.4-15.5h36.7
		C573.1,283.2,574.8,284.5,574.8,271.3z M550.9,264.1l-17.2,9.5c-0.6,0.5-1.6,0.5-2.1-0.2c-0.3-0.3-0.4-0.8-0.3-1.2V253
		c-0.1-0.8,0.5-1.6,1.3-1.7c0.4-0.1,0.9,0.1,1.2,0.3l17.3,9.6c0.8,0.3,1.2,1.3,0.8,2.1C551.6,263.7,551.3,264,550.9,264.1
		L550.9,264.1z"/>
</g>
</svg>
    <!-- <a [routerLink]="['/now-playing']" routerLinkActive="router-link-active">
        <img class= "img-fluid, col-md-2, col-sm-4" [src]="pathImg" alt="bouton play"/>
    </a>  -->
</div>

