span {
    margin: 20px;
}

.toolbarFont {
    color: black;
}

body {
    background-color: black;
}

.startingTitle {

    background-color: black;
    font-size: 700%;
    color: red;
    height: 100%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 250px;
    padding-bottom: 250px;
    
}