.example-card {
    max-width: 400px;
    border: solid, white , 20px;
    text-align: center;
    margin : 20px;
  }

.image {
    max-width: 300px;
    height: auto;
    border: solid #7b1fa2 ;

}
  
.container {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    justify-content: space-around;
    height: auto;
}

body {
    background-color: black;
}

.toolbarFont {
    color: black;
}

.button-font {
  color: black;
}

.overview {
  text-align: justify;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  padding : 20px;
  height: 150px;
  font-weight: bold;
}

.similar-button {
  background-color:  #7b1fa2;

}

  /* .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  } */